
.cabinets{ font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 13px; }

.cabinets  li a { background:url("../images/blue.png") no-repeat scroll -420px 0 transparent;	background:url("../images/blue.png") no-repeat scroll -420px 0 transparent;
	font-size:11px;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 134px;
	text-align:center;	
	text-decoration:none;
	color:#000;
	padding:0px;
	margin:0px;	
	position:relative;
	}

.cabinets ul li a:hover {background-position: -420px -31px}

.cabinets .active {background-position: -420px -62px;cursor:default !important; color:#000 !important;}


.cabinets ul{ position: relative;margin-top: 0;margin-bottom:1px; padding:0px; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.cabinets li { list-style: none; float: left;border:none; position: relative;  border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.cabinets li a { float: left;  text-decoration: none;margin-top: 0}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.clone{ display: block; border-width: 0; padding: 1em 1.4em; background: none; border:1px solid #666}
.ui-tabs .ui-tabs-hide { display: none !important; }
