#body{
	background:#192426;
}
#message, #logo{	
	width:100%;
	text-align:center;
}
#logo{
	background:url(../images/indisponible.png) no-repeat center;
	height:215px;
}

#message p{
	font-size:150%;
}
